.Nav {
  position: fixed;
  top: 0;
  background-color: #39415F;
  padding: 20px;
  width: 100%;
  color: #C4DBC0;
  z-index: 2;
  display: flex;
  justify-content: center;
  box-shadow: 10px 10px 10px #00000084;
}
