.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    h1{
        margin: 100px 0px;
    }
    p{
        font-size: 20px;
        line-height: 1.8;
        text-align: justify;
    }
}
@media (max-width: 600px) {
    .About{
        max-width: 400px;
    }
}